@import '../../assets/css/mixins';
@import '../../assets/css/colors';

.enc-btn {
  all: unset;
  font: inherit;
  @include font-base();
  box-sizing: border-box;

  padding: 12px 24px;
  border-radius: 48px;
  cursor: pointer;
  text-align: center !important;

  transition: background 0.2s ease-out;
  background: rgba($color-primary-a, 1);
  color: rgba($color-primary-b, 1) !important;
  min-width: 92px;

  @media (min-width: 440px) {
    min-width: 120px;
  }

  &:hover, &:focus {
    background: rgba($color-accent, 1);
  }

  &:active {
    background: rgba($color-accent-variant, 1);
  }

  &:disabled {
    background: rgba($color-secondary-variant, 1);
    cursor: default;
  }
}
