@import '../../assets/css/font';
@import '../../assets/css/mixins';

.enc-hero {
  $hero: &;
  position: relative;
  text-align: center;
  padding: 24px 0 120px;

  &__title {
    max-width: 85%;
    margin: auto;
    opacity: 0;
    font-size: 40px;
    line-height: 48px;
    font-weight: bold;

    @media (min-width: 768px) {
      max-width: 760px;
      @include font-xl(600);
    }
  }

  &__subtitle {
    margin: 16px auto 0;
    opacity: 0;
    @include font-base();
    max-width: 240px;

    @media (min-width: 500px) {
      max-width: 100%;
    }

    @media (min-width: 768px) {
      @include font-md();
    }
  }

  &__figure {
    margin-top: 32px;
    width: 208px;
    height: 425px;

    @media (min-width: 768px) {
      margin-top: 56px;
      width: 300px;
      height: 610px;
    }
  }

  @at-root {
    .enc-dudes {
      $dudes: &;

      #{$dudes} > &__left {
        & > #{$dudes} {
          &-1 {
            top: 224px;
            left: calc(20.5vw - 70px);

            @media (min-width: 500px) {
              top: 243px;
              left: calc(23.5vw - 100px);
            }
          }

          &-2 {
            top: 434px;
            left: calc(40vw - 140px);
          }

          &-3 {
            top: 800px;
            left: 10vw;

            @media (min-width: 500px) {
              top: 638px;
              left: calc(27vw - 120px);
            }
          }
        }
      }

      #{$dudes} > &__right {
        & > #{$dudes} {
          &-4 {
            top: 795px;
            right: calc(38vw - 60px);

            @media (min-width: 500px) {
              top: 664px;
              right: calc(12vw - 60px);
            }
          }

          &-5 {
            top: 341px;
            right: calc(26vw - 120px);
          }

          &-6 {
            top: 575px;
            right: calc(38vw - 120px);
          }
        }
      }
    }
  }
}
