@import '../../assets/css/font';
@import '../../assets/css/mixins';
.enc-hero {
  position: relative;
  text-align: center;
  padding: 24px 0 120px;

  &__title {
    max-width: 760px;
    margin: auto;
    @include font-xl(600);
  }

  &__subtitle {
    margin-top: 16px;
    @include font-md();
  }

  &__figure {
    margin-top: 56px;
    width: 300px;
    height: 610px;
  }

  &__dudes {
    pointer-events: none;
    position: absolute;
    inset: 0;

    &-1 {
      position: absolute;
      top: 128px;
      left: 224px;
    }
    &-2 {
      position: absolute;
      top: 525px;
      left: 1310px;
    }
    &-3 {
      position: absolute;
      top: 338px;
      left: 416px;
    }
    &-4 {
      position: absolute;
      top: 225px;
      left: 1180px;
    }
    &-5 {
      position: absolute;
      top: 479px;
      left: 1016px;
    }
    &-6 {
      position: absolute;
      top: 516px;
      left: 245px;
    }
  }
}