@import '../../assets/css/font';
@import '../../assets/css/mixins';

.enc-hero {
  $hero: &;
  position: relative;
  text-align: center;
  padding: 24px 0 120px;

  &__title {
    max-width: 760px;
    margin: auto;
    opacity: 0;
    @include font-xl(600);
  }

  &__subtitle {
    margin-top: 16px;
    opacity: 0;
    @include font-md();
  }

  &__figure {
    margin-top: 56px;
    width: 300px;
    height: 610px;
  }

  @at-root {
    .enc-dudes {
      $dudes: &;

      #{$dudes} > &__left {
        & > #{$dudes} {
          &-1 {
            top: 22%;
            left: 17%;

            @media (min-width: 1024px) {
              top: 12%;
              left: 17%;
            }
          }

          &-2 {
            top: 34%;
            right: 24%;

            @media (min-width: 1024px) {
              top: 29%;
              right: 15%;
            }
          }

          &-3 {
            top: 62%;
            left: 36%;

            @media (min-width: 1024px) {
              top: 53%;
              left: 40%;
            }
          }
        }
      }

      #{$dudes} > &__right {
        & > #{$dudes} {
          &-4 {
            top: 68%;
            right: 14%;

            @media (min-width: 1024px) {
              top: 55%;
              right: 16%;
            }
          }

          &-5 {
            top: 27%;
            right: 34%;

            @media (min-width: 1024px) {
              top: 17%;
              right: 40%;
            }
          }

          &-6 {
            top: 53%;
            left: 25%;

            @media (min-width: 1024px) {
              top: 44%;
              left: 0;
            }
          }
        }
      }
    }
  }
}
