.enc-dudes {
  pointer-events: none;
  z-index: -1;
  position: absolute;
  inset: 0;
  overflow: hidden;

  &__left > *, &__right > * {
    display: flex;
    position: absolute;
    opacity: 0;
  }

  &__left, &__right {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
  }

  &__left {
    left: 0vw;
  }

  &__right {
    right: 0vw;
  }
}
