$color-accent: #FF7979;
$color-accent-variant: #FF8B8B;
$color-accent-secondary: #8484FF;
$color-error-a: #FF0000;
$color-error-b: #FFEBEB;
$color-primary-a: #000;
$color-primary-b: #FFF;
$color-secondary: #979BA3;
$color-secondary-variant: #CECECE;